#Use your domain (no http:// or port, example: mydomain.com)
SERVER_HOST=                    #change

# Ports of the public services (example: 7200, 8090)
GRAPHDB_PORT=7200
NGINX_PORT=8090

# MongoDB credentials (example: admin, password)
MONGO_ROOT_USER=admin           #change
MONGO_ROOT_PASSWORD=password    #change

# GraphDB credentials (example: admin, password)
GRAPHDB_USER=admin              #change             
GRAPHDB_PASSWORD=password       #change

# FDP secret key for JWT (example: a long random string, to generate use: openssl rand -base64 64)
FDP_JWT_SECRET_KEY=             #change